<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ismclouddevVSTS" value="https://ismclouddev.pkgs.visualstudio.com/avalanche/_packaging/AvalancheNuGet/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <ismclouddevVSTS>
      <add key="Username" value="user" />      
      <add key="ClearTextPassword" value="rnx76p4hcs2igssagmlywbgllzzm42wfepmblb5vvq2j5ykhmy5q" />
    </ismclouddevVSTS>
  </packageSourceCredentials>
</configuration>