<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Private feed if a nuget credential provider isn't present it will yell at you to configure one -->
		<!-- https://docs.microsoft.com/en-us/nuget/reference/extensibility/nuget-exe-credential-providers -->
		<!-- https://docs.microsoft.com/en-us/azure/devops/artifacts/nuget/nuget-exe?view=azure-devops -->
    <add key="AvalancheNuGet" value="https://ismclouddev.pkgs.visualstudio.com/avalanche/_packaging/AvalancheNuGet/nuget/v3/index.json" />
  </packageSources>
</configuration>
